:root {
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);
    --blue: hsl(248, 32%, 49%);
    --dark-blue: hsl(249, 10%, 26%);
    --grayish-blue: hsl(246, 25%, 77%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: url(../images/bg-intro-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--red);
    font-family: 'Poppins', sans-serif;
    position: relative;
}

.container {
    height: 100%;
    padding: 0 100px 0 100px;
    display: flex;
    align-items: center;
    justify-content: center;;
}

.flex {
    width: 1070px;
    display: flex;
}

.flex .content-section {
    margin-right: 40px;
    color: #ffffff;
    align-self: center;
}

.flex .content-section h2 {
    margin-bottom: 25px;
    font-size: 3.05rem;
    font-weight: 700;
    line-height: 1.1;
}

.flex .content-section p {
    font-size: 1rem;
}

.flex .form-section {
    width: 1200px;
    margin-left: 30px;
}

.flex .form-section .form-title {
    background: var(--blue);
    padding: 15px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;;
    box-shadow: 0 8px 0 rgba(0, 0, 0, 0.15);
    text-align: center;
    font-size: 0.8rem;
    font-weight: 400;
    color: #ffffff;
    line-height: 2;
}

.flex .form-section .form-title span {
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #ffffff;
}

.flex .form-section .sign-up-form {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 8px 0 rgba(0, 0, 0, 0.15);
}

.flex .form-section .sign-up-form input {
    display: block;
    width: 100%;
    padding: 15px 15px 15px 25px;
    margin-bottom: 18px;
    border: 1px solid #dadce0;
    border-radius: 5px;
    line-height: 1.8;
    font-family: inherit;
    font-weight: 700;
    outline: 0;
}

.flex .form-section .sign-up-form input:focus {
    border: 1.4px solid var(--blue);
}

.flex .form-section .sign-up-form button {
    background: var(--green);
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 0 1.5px hsl(154, 59%, 45%),
                0 -1px 0 0 hsl(154, 59%, 45%);
    text-transform: uppercase;
    font-family: inherit;
    font-weight: 500;
    letter-spacing: 1px;
    color: white;
}

.flex .form-section .sign-up-form small {
    display: block;
    font-size: 0.63rem;
    color: var(--grayish-blue);
    text-align: center;
}

.flex .form-section .sign-up-form small a {
    text-decoration: none;
    font-size: 0.63rem;
    color: hsla(0, 100%, 45%, 0.712);
    font-weight: 700;
    opacity: 0.8;
}

.flex .form-section .sign-up-form small a:hover {
    text-decoration: underline;
}


footer {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
}

footer .attribution { 
    font-size: 11px; 
    font-weight: 600;
    text-align: center; 
}

footer .attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media screen and (max-width: 375px) {
    body {
        width: 375px;
        background-image: url(../images/bg-intro-mobile.png);
    }

    .container {
        width: 100%;
        padding: 0;
    }

    .flex {
        width: 85%;
        flex-direction: column;
    }

    .flex .content-section {
        margin-right: 0;
        margin-bottom: 50px;
    }

    .flex .content-section h2 {
        margin-bottom: 20px;
        font-size: 1.7rem;
        font-weight: 600;
        line-height: 1.4;
        text-align: center;
    }

    .flex .content-section p {
        text-align: center;
    }

    .flex .form-section {
        width: 100%;
        margin-left: 0;
    }

    .flex .form-section .form-title {
        width: 100%;
        margin-bottom: 25px;
        padding: 15px 40px;
        font-size: 1rem;
        font-weight: 400;
    }

    .flex .form-section .sign-up-form input {
        padding: 15px;
    }
}